# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/
.env/

# Build/artifacts
build/
dist/
*.log

# IDE
.vscode/

# OS
.DS_Store

# Notebooks
.ipynb_checkpoints/
